<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bili批量处理系统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/head.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/roomlist.css') }}" type="text/css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/head.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/danmu.js') }}" ></script>
</head>
<body>
    <header>
        <div class="header">

            <div class="header_top">
                <span class="head_user_pic">
                    <img src="{{user_face}}" alt="头像"/>
                </span>
                <span class="head_user_txt" onclick="javascript:gotosetting();">
                    {{nick_name}}
                </span>
            </div>
            <div class="nav_title">
                <span>
                    <img src="{{ url_for('static', filename='images/btn_home.png') }}" alt="返回主页" data-roomid="{{room_id}}" data-running="0" onclick="javascript:danmuJs.startStop(event)"/>
                </span>
                <span id="txt_status">未监听{{room_id}}</span>
            </div>
        </div>
    </header>
    <section>
        <div class="spaceheader"></div>

        <div class="spacefooter"></div>
    </section>
    <script>
        //初始化
        danmuJs.init();
    </script>
</body>
</html>